* body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system,
  'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; /* 2 */
}

.is-hidden {
  display: none;
}


.search-form {
    display: flex;
    justify-content: center;
    background-color: chartreuse;
    font: inherit;
    border-radius: 4px;
}

.search-form input{
padding: 8px 10px;
width: 300px;
border-radius: 4px;
margin-top: 10px;
margin-bottom: 10px;
}

.search-form button{
    display: flex;
  justify-content: center;
    padding: 8px 10px;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border: none;
    align-items: center;
    border: none;
    background-color: chartreuse;
    border-radius: 4px;
    cursor: pointer;
    }
.search-form button:hover,
.search-form button:focus{
    background-color: blue;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  padding-top: 20px;
  justify-content: center;
}
.gallery__link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: 2px solid rgb(241, 238, 238);
    border-radius: 10px;
    overflow: hidden;
   
  }

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // margin-right: 30px;
  }
  
  .photo-card__img {
    display: block;
    height: 30vh;
    object-fit: cover;
  }

.info {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: black;
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}


.load-more{
  margin-left: 720px;
  background-color: aqua;
  border-radius: 4px;
  font-family: Roboto;
  cursor: pointer;
}